@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
hr {
    color: #0000004f;
    margin-top: 5px;
    margin-bottom: 5px
}
.add td {
    color: #000;
    background-color: #A9D2FA;
    text-transform: uppercase;
    font-size: 12px
}
.content {
    font-size: 14px
}